.DS_Store
rb_ws/bags
.docker-compose.yml.un~
.python-requirements.txt.un~
docker-compose.yml~
python-requirements.txt~
*TEMP_DO_NOT_EDIT.txt
rb_ws/src/buggy/bags/2023-02-11-11-38-44.bag
rb_ws/src/buggy/bags/2023-02-11-12-00-49.bag
rb_ws/src/buggy/bags/2023-02-11-12-01-12.bag
rb_ws/src/buggy/bags/2023-02-12-11-39-27.bag
rb_ws/src/buggy/bags/2023-02-18-02-23-26.bag
rb_ws/src/buggy/bags/2023-02-19-11-21-56.bag
rb_ws/src/buggy/bags/2023-02-19-11-27-49.bag
rb_ws/src/buggy/bags/2023-02-19-11-38-48.bag
rb_ws/src/buggy/bags/*
rb_ws/src/buggy/launch/.main.launch.swp                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
*.bag