<!-- roslaunch buggy main.launch simulation:=true -->
<!-- roslaunch buggy main.launch simulation:=false -->

<launch>
    <param name="simulation" value="$(arg simulation)" />
    <group if="$(arg simulation)">
        <node name="simulator" pkg="buggy" type="simulator.py" />
    </group>
    <group unless="$(arg simulation)">
    </group>
    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />
    <node name="asset_server" pkg="buggy" type="asset_server.py" args="--directory='/rb_ws/src/buggy/assets'"/>
</launch>