<launch>
    <arg name="controller"      default="mpc" />
    <arg name="start_dist"      default="0.0" />
    <arg name="path"      default="buggycourse_safe_1.json" />

    <remap from="/SC/nav/odom" to="/nav/odom"/>

    <!-- ENABLE AUTON -->
    <!-- autonsystem args: controller start_dist path buggy_name is_sim -->
    <!-- Conditional Launch Files, depending on if NAND Exists or not -->
    <arg name="NAND_exist" default="true"/>
    <group if="$(arg NAND_exist)">
        <!-- Run the simulation with NAND -->
        <arg name="autonsystem_args" default="--controller $(arg controller) --dist 0.0 --traj $(arg path) --self_name SC --other_name NAND --left_curb curb.json" />
        <node name="auton_system" pkg="buggy" type="autonsystem.py" output="screen" args="$(arg autonsystem_args)"/>
    </group>
    <group unless="$(arg NAND_exist)">
        <arg name="autonsystem_args" default="--controller $(arg controller) --dist 0.0 --traj $(arg path) --self_name SC" />
        <node name="auton_system" pkg="buggy" type="autonsystem.py" output="screen" args="$(arg autonsystem_args)"/>
    </group>
</launch>