<!-- roslaunch buggy main.launch -->

<launch>
    <arg name="controller"      default="mpc" />
    <arg name="start_dist"      default="0.0" />
    <arg name="path"      default="frew_test.json" />

    <remap from="/SC/nav/odom" to="/nav/odom"/>
    <node name="sc_rolling_sanity_check" pkg="buggy" type="rolling_sanity_check.py" output="screen" args="SC"/>

    <!-- ENABLE AUTON -->
    <!-- autonsystem args: controller start_dist path buggy_name is_sim -->
    <!-- Conditional Launch Files, depending on if NAND Exists or not -->
    <arg name="NAND_exist" default="false"/>
    <group if="$(arg NAND_exist)">
        <!-- Run the simulation with NAND -->
        <arg name="autonsystem_args" value="--controller $(arg controller) --dist 0.0 --traj $(arg path) --self_name SC --other_name NAND" />
        <node name="auton_system" pkg="buggy" type="autonsystem.py" output="screen" args="$(arg autonsystem_args)"/>
    </group>
    <group unless="$(arg NAND_exist)">
        <arg name="autonsystem_args" value="--controller $(arg controller) --dist 0.0 --traj $(arg path) --self_name SC" />
        <node name="auton_system" pkg="buggy" type="autonsystem.py" output="screen" args="$(arg autonsystem_args)"/>
    </group>
</launch>