<!-- roslaunch buggy main.launch -->

<launch>
    <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch">
        <arg name="params_file" value="/rb_ws/src/buggy/INS_params_v2.yml"/>
    </include>

    <node name="bnyahaj" pkg="buggy" type="ros_to_bnyahaj.py" respawn="true" output="screen" args="--self_name SC --other_name NAND --teensy_name ttyUSB0"/>

    <node name="serial_node2" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM1"/>
        <param name="baud" type="int" value="115200"/>
    </node>

    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />
    <node name="telematics" pkg="buggy" type="telematics.py" />
</launch>