<!-- roslaunch buggy main.launch simulation:=true -->
<!-- roslaunch buggy main.launch simulation:=false -->
<!-- <arg name="name" value="INS" /> -->

<launch>
    <arg name="sc_controller"       default="stanley" />
    <arg name="sc_start_dist"       default="0.0" />
    <arg name="sc_path"             default="buggycourse_safe_1.json" />
    <arg name="sc_starting_pose"    default="Hill1_SC" />
    <arg name="sc_velocity"         default="15.0" />

    <arg name="nand_controller"     default="stanley" />
    <arg name="nand_start_dist"     default="30.0" />
    <arg name="nand_path"           default="buggycourse_safe_1.json" />
    <arg name="nand_starting_pose"  default="Hill1_NAND" />
    <arg name="nand_velocity"       default="14.0" />
    
    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />

    <node name="sc_sim_2d_engine" pkg="buggy" type="engine.py" output="screen"
        args="$(arg sc_starting_pose) $(arg sc_velocity) sc"/>

    <node name="sc_auton_system" pkg="buggy" type="autonsystem.py" output="screen" 
        args="$(arg sc_controller) $(arg sc_start_dist) $(arg sc_path) sc"/>

    <node name="nand_sim_2d_engine" pkg="buggy" type="engine.py" output="screen" 
        args="$(arg nand_starting_pose) $(arg nand_velocity) nand"/>
    <node name="nand_auton_system" pkg="buggy" type="autonsystem.py" output="screen" 
        args="$(arg nand_controller) $(arg nand_start_dist) $(arg nand_path) nand"/>
</launch>
