<!-- roslaunch buggy main.launch simulation:=true -->
<!-- roslaunch buggy main.launch simulation:=false -->
<!-- <arg name="name" value="INS" /> -->

<launch>
    <arg name="sc_controller"      default="stanley" />
    <arg name="sc_start_dist"      default="0.0" />
    <arg name="sc_path"                default="buggycourse_safe_1.json" />
    <arg name="sc_starting_pose"   default="Hill1_SC" />

    <arg name="nand_controller"      default="stanley" />
    <arg name="nand_start_dist"      default="0.0" />
    <arg name="nand_path"      default="buggycourse_safe_1.json" />
    
    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />

    <node name="sim_2d_engine" pkg="buggy" type="engine.py" output="screen" args="$(arg sc_starting_pose)"/>
    <!-- <node name="sim_2d_visualizer" pkg="buggy" type="grapher.py" output="screen"/> -->
    <node name="sim_2d_controller" pkg="buggy" type="controller_2d.py" output="screen" />
    <node name="auton_system" pkg="buggy" type="autonsystem.py" output="screen" args="$(arg sc_controller) $(arg sc_start_dist) $(arg sc_path)"/>
</launch>
