<launch>
    <arg name="sc_controller"     default="stanley" />
    <arg name="sc_start_pos"    default="Hill1_SC" />
    <arg name="sc_velocity"         default="15.0" />

    <arg name="nand_controller"     default="stanley" />
    <arg name="nand_path"           default="buggycourse_safe.json" />
    <arg name="sc_path"           default="buggycourse_safe.json" />
    <arg name="nand_start_pos"     default="Hill1_NAND" />
    <arg name="nand_velocity"       default="7.0" />

    <arg name="manual_vel"          default="false" />
    <arg name="auto_vel"            default="false" />

    <group if="$(arg auto_vel)">
        <!-- Run the auto velocity updater -->
        <node name="nand_vel_updater" pkg="buggy" type="velocity_updater.py"
            output="screen" args="$(arg nand_velocity) NAND"/>
        <node name="sc_vel_updater" pkg="buggy" type="velocity_updater.py"
            output="screen" args="$(arg sc_velocity) SC"/>
    </group>

    <group if="$(arg manual_vel)">
        <!-- Run the manual velocity updater -->
        <node name="sc_velocity_ui" pkg="buggy" type="velocity_ui.py"
            output="screen" args="$(arg sc_velocity) SC"/>
        <node name="nand_velocity_ui" pkg="buggy" type="velocity_ui.py"
            output="screen" args="$(arg nand_velocity) NAND"/>
    </group>

    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />


    <node name="nand_sim_2d_engine" pkg="buggy" type="engine.py" output="screen"
        args="$(arg nand_start_pos) $(arg nand_velocity) NAND"/>

    <!-- NAND is not aware of SC -->
    <arg name="nand_autonsystem_args" default="--controller $(arg nand_controller) --dist 0.0 --traj $(arg nand_path) --self_name NAND" />
    <node name="nand_auton_system" pkg="buggy" type="autonsystem.py" output="screen"
        args="$(arg nand_autonsystem_args)"/>

    <arg name="sc_autonsystem_args" default="--controller $(arg sc_controller) --dist 0.0 --traj $(arg sc_path) --self_name SC --other_name NAND" />
    <node name="sc_auton_system" pkg="buggy" type="autonsystem.py" output="screen"
        args="$(arg sc_autonsystem_args)"/>

    <node name="sc_sim_2d_engine" pkg="buggy" type="engine.py" output="screen"
        args="$(arg sc_start_pos) $(arg sc_velocity) SC"/>


    <node name="sc_rolling_sanity_check" pkg="buggy" type="rolling_sanity_check.py" output="screen" args="SC"/>

</launch>