<!-- roslaunch buggy main.launch simulation:=true -->
<!-- roslaunch buggy main.launch simulation:=false -->
<!-- <arg name="name" value="INS" /> -->

<launch>
    <arg name="buggy_name"       default="SC" />
    <arg name="controller"       default="stanley" />
    <arg name="start_dist"       default="0.0" />
    <arg name="path"             default="buggycourse_safe_1.json" />
    <arg name="starting_pose"    default="Hill1_SC" />
    <arg name="velocity"         default="15.0" />
    
    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />

    <node name="sim_2d_engine" pkg="buggy" type="engine.py" output="screen"
        args="$(arg starting_pose) $(arg velocity) $(arg buggy_name)"/>
    <node name="vel_updater" pkg="buggy" type="velocity_updater.py"
        output="screen" args="$(arg velocity) $(arg buggy_name)"/>
    <!-- autonsystem args: controller start_dist path buggy_name is_sim -->
    <node name="auton_system" pkg="buggy" type="autonsystem.py" output="screen" 
        args="$(arg controller) $(arg start_dist) $(arg path) $(arg buggy_name) True"/>

</launch>