<launch>
    <rosparam file="src/buggy/config/sim_2buggies.yaml" />

    <node name="foxglove" pkg="foxglove_bridge" type="foxglove_bridge" />

    <arg name="manual_vel"          default="false" />
    <arg name="auto_vel"            default="false" />

    <group if="$(arg auto_vel)">
        <!-- Run the auto velocity updater -->
        <node name="nand_vel_updater" pkg="buggy" type="velocity_updater.py"
            output="screen" args="NAND"/>
        <node name="sc_vel_updater" pkg="buggy" type="velocity_updater.py"
            output="screen" args="SC"/>
    </group>

    <group if="$(arg manual_vel)">
        <!-- Run the manual velocity updater -->
        <node name="sc_velocity_ui" pkg="buggy" type="velocity_ui.py"
            output="screen" args="SC"/>
        <node name="nand_velocity_ui" pkg="buggy" type="velocity_ui.py"
            output="screen" args="NAND"/>
    </group>

    <!-- NAND -->
    <node name="nand_sim_2d_engine" pkg="buggy" type="engine.py" output="screen"
        args="NAND"/>
    <node name="nand_auton_system" pkg="buggy" type="autonsystem.py" output="screen"
        args="NAND"/>

    <!-- SC -->
    <node name="sc_sim_2d_engine" pkg="buggy" type="engine.py" output="screen"
        args="SC"/>
    <node name="sc_auton_system" pkg="buggy" type="autonsystem.py" output="screen"
        args="SC"/>
    <!-- <node name="sc_rolling_sanity_check" pkg="buggy" type="rolling_sanity_check.py" output="screen" args="SC"/> -->

</launch>